/* container */

h2 .heading {
    text-align:center;
}
h1 {
    width: 100%;
    text-align: center;
}
.container-fluid {
    padding:20px 20px;
}
a {
    text-decoration: none;
}

/*メニュー*/
header {

    width: 100%;
    background-color: rgba(55, 55, 55, 0.98);
    font-family: "Futura", Helvetica, sans-serif;
}
  
/* Navbar & Navmenu color */
:root {
  --background-navbar: rgba(55, 55, 55, 0.98);
}

.header {
  background: var(--background-navbar);
  position: fixed;
  width: 95%;
  height: 40px;
}

/* Nav items */
.menu {
  list-style: none;
  position: absolute;

  width: 86%;
  height: auto;
  top: 0;
  margin-top: 52px;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}  

/* Hamburger menbu text */

.menu a, header form {
    width: 90%;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ddd;

    opacity: 1;
    transition: 0.5s;
}

.menu li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 20px 0;
    margin: 5px 30px;
    opacity: 1;
    transition: 0.5s;
    z-index: 1;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu form,
.menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
    display: none;
}

.menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 24px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
    background: #ddd;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ddd;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
    top: 9px;
}

.navicon:after {
    bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
    width: 100%;
    height: 52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Text */
.navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 20px;
}
/*ここまでメニュー*/


section {
    width:100%;
    text-align: center;
    margin-top: 20px;
    z-index: 3;
}
.wrapper .container{
    max-width:100%;
    max-height: 100%;
    margin:10px auto;
    padding-top: 20px;
    background-color: rgba(236, 235, 235, 0.945);
}
/* content */
.wrapper .content .heading{
    margin:20px auto;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.content .level-list{
    height: 500px;
    text-align: center;
}
form {
    margin: 20px auto;
}
@media (min-width: 992px) {
    .wrapper .content .list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/*レベルランキング*/
/*アイコン表示*/
.level-icon {
    margin: 15px;
    text-align: center;
   
}
.level-icon img{
    align-items: center;
	width: 50px;
    height: 50px;
    border-radius: 50%;
}
.level-list {
    display: inline-block;
    text-align: center;
    margin:20px auto;
    width:100%;
    height: 300px;
    overflow: scroll;
}
.level-list .list-item {
    align-items: center;
}
.wrapper .content{

    padding:0px 50px;
    text-align:center;
}
.wrapper .content .level-list{

    display: block;
    width:100%;
    height: 100%;
    height: 600px;
    margin:20px auto;
}
.wrapper .content.list-item{
    line-height:2.3rem;
    font-size:17px;
    color:#666666;
}
.list-item img {
    display: block;
    width:200px;
    height: 200px;
    max-width:300px;
    max-height: 300px;
    margin:20px auto;
    border-radius:100%;
}

label {
    display: block;
    font-size: 18px;
    text-align: right;
    font-weight:bold;
    width: 105px;
    height: 30px;
    padding-top: 5px;
}

input,
#file-upload-button {
    height: 30px;
    width: 35%;
}

.text {
    padding-bottom: 10px;
}
.edit {
    color:rgb(75, 75, 75);
}

footer {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
}

/*編集画面*/
button,
.btn-confirm,
a.btn-confirm {
  color: #fff;
  background-color: #0dbdd4;
  min-width: 200px;
  max-width: 600px;
  padding: 10px;
}

.btn-confirm:hover,
a.btn-confirm:hover {
  color: #fff;
  background: #0dbdd4;
}
/*ページネーション*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

/* モーダルウィンドウのcss設定 */
/* 一番上に表示させるdiv */
#modal-content{
	/* ボックスの重なりの順序を指定 */
	z-index:2;
	/* divをブロック表示します。何も表示しないときは、none */
	display:block;
	/* 位置の固定 */
	position:fixed;
	/* 位置 */
	top:30%;
	left: 17%;
	/* 幅・高さ */
	width:50%;
	height:auto;
	/* 外側の余白 */
	margin:auto;
	/* 内側の余白 */
    padding-left: 40px;
	padding-top: 15px;
	/* 線 */
	border:2px solid #aaa;
	/* 背景の色 */
	background:#fff;
}
/* 2番目に表示させるdiv半透明の膜 */
#modal-overlay{
	/* ボックスの重なりの順序を指定 */
	z-index:1;
	/* divをブロック表示します。何も表示しないときは、none */
	display:block;
	/* 位置の固定 */
	position:fixed;
	/* 位置 */
	top:0;
	left:0;
	/* 幅・高さ */
	width:100%;
	height:100%;
	/* 背景の色（半透明） */
	background-color:rgba(51,51,51,0.6);
	/* 外側の余白 */
	margin-top:0px;
	
}

/* CSSコード */
/* ポップアップウインドウの設定 */
.pu {
    background-color: #efefef;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    overflow-y: scroll;
  }
  /* チェックボックスの初期設定 */
  #pu-on{
    display: none;
  }
  /* チェックされたらポップアップウインドウを開く */
  #pu-on:checked + .pu{
    display: block;
  }
  
  /* 閉じるアイコン（右上） */
  .icon-close{
    background: #000;
    color: #fff;
    font-size: 30px;
    padding: 0 10px;
    position: absolute;
    right: 0;
  }
  
  /* 開くボタン */
  .btn-open{
    background: #fff;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin: 10px auto;
    width: 95%;
    text-align: center;
  }
  
  /* ポップアップの内容 */
  .pu-content{
    margin: 40px auto 40px auto;
    width: 90%;
  }