/* container */

h2 .heading {
    text-align:center;
}
.container-fluid {
    padding:20px 20px;
}
a {
    text-decoration: none;
}

/*メニュー*/
header {
    width: 95%;
    background-color: rgba(55, 55, 55, 0.98);
    font-family: "Futura", Helvetica, sans-serif;
}
  
/* Navbar & Navmenu color */
:root {
  --background-navbar: rgba(55, 55, 55, 0.98);
}

.header {
  background: var(--background-navbar);
  position: fixed;
  width: 95%;
  height: 52px;
}

/* Nav items */
.menu {
  list-style: none;
  position: absolute;
  width: 81%;
  height: auto;
  top: 0;
  margin-top: 52px;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}  

/* Hamburger menbu text */
.menu a, form {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ddd;
    opacity: 0;
    transition: 0.5s;
}
.menu li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 15px 5px;
    margin: 5px 52px;
    opacity: 0;
    transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu form,
.menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
    display: none;
}

.menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 24px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
    background: #ddd;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ddd;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
    top: 9px;
}

.navicon:after {
    bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
    width: 100%;
    height: 52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Text */
.navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 20px;
}
/*ここまでメニュー*/

.wrapper{
    width:95%;
    text-align: center;
    margin-top: 20px;
}
.wrapper .container{
    max-width:95%;
    max-height: 1000px;
    margin:10px auto;
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: rgba(236, 235, 235, 0.945);
}
/* content */
.wrapper .content .heading{
    margin:20px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
@media (min-width: 992px) {
    .wrapper .content .list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.list-item {
    align-items: center;
    height: 200px;
    width: 200px;
    padding-right: 20px;
}
.wrapper .content .list-item {
    margin:50px auto;
    padding:0px 50px;
    text-align:center;
}
.wrapper .content .list-item img{
    display:block;
    width:100%;
    height: 100%;
    max-width:300px;
    max-height: 300px;
    margin:0px auto 20px auto;
    border-radius:100%;
}
.wrapper .content .list-item{
    line-height:2.3rem;
    font-size:17px;
    color:#666666;
}
.text {
    padding-bottom: 20px;
}

footer {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
}