@charset "utf-8";

*, *::before, *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    min-height: 100vh;
    background-image: url(/link/img.jpg/beach-1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 20%;
    height: 100vh;
    display: grid;
    grid-template: 
      "header" 8vh
      "left  " 0px
      "center" 1fr
      "right " 1vh
      "footer" 8vh ;
}
/* body {

  background: #e2dedb;
  color: #b3aca7;
} */
main{
  font-family: 'Lato', sans-serif;
}
header{
    grid-area: header;
    background-color: rgba(97, 97, 100, 0.466);
    font-weight: bold;
    width: 100%;
    top: 0px;
}
a { 
    text-decoration: none;
}
/* ---------------------------------- ここからヘッダー -------------------------------------- */
.header-logo{
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 0.9em 0.5em 0.5em 0.3em;
    margin: 0.55vw;
    font-size: 1.2rem;
}
.header-logo a{
  color: rgb(255, 208, 78);
  background-image:linear-gradient(45deg,rgb(255, 208, 78),rgb(247, 222, 156));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* カラム落ち防止 */
.header-list{
    font-size: 0;
}
/*👇ヘッダーリストの親要素にだけかかる*/
.header-list >li{
  box-shadow: 1px 1px 1px gray;
  display: inline-table;
  /* margin: 2.5vw 0.85vw; */
  background-color: #fbefe3e7;
  text-align: -webkit-center;
  line-height: 1.5vh;/*行の高さを指定できる*/
  padding-left: 1vw;
  padding-right: 1vw;
  /* margin-left: 1.5vw; */
  margin-top: 1.4vh;
}
.header-list >li:not(:first-child){
    margin-left: 1.5vw;
}
.text{
  display: block;
  justify-content: center;
  line-height: 1.5vh;/*行の高さを指定できる*/
  padding: 3.0vw 0 2.0vw 0;
}
/* 👇hoverが反映されるまでの時間を制御 */
.header-list a{
  display: block;
  font-size: 0.55rem;
  text-align: center /*テキストの配置を指定できる*/;
  color: #474554;
  transition: 0.3s;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
}
.a a{
    padding: 1vw 0px;
}
.b a{
    padding: 1vw 0px;
}
.c a{
    padding: 1vw 0px;
}
.menu-item{
    display: inline;
    position:relative;
    width: 20%; /* 幅を一定にする */    
    border-radius: 42px;
}
.search::before{
  content: "\f00e\A";
  white-space: pre;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  color: #d69293;
  margin-right: 2px;
  font-size: 1.2rem;
  padding: 0.1rem 2.5vw;
  margin: 2.5vw;
}
.iconTextSearch{
    color: #d69293;
}
.picture::before{
  content: "\f03e\A";
  white-space: pre;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  color: #d4d467;
  margin-right: 2px;
  font-size: 1.2rem;
  padding: 0.1rem 2.5vw;
  margin: 2.5vw;
}
.iconTextPicture{
    color: #d4d467;
}
.map::before{
  content: "\f5a0\A";
  white-space: pre;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  color: #8ec0d3;
  margin-right: 6px;
  font-size: 1.2rem;
  padding: 0.1rem 2.5vw;
  margin: 2.5vw;
}
.iconTextMap{
  color: #8ec0d3;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

.ellMessage{
  color: red;
  font-weight: bold;
  font-size: 1.0rem;
  margin: 1vw 0 1vw 0;
  text-align: center;
}

.formTitle {
  position: relative;
  margin: 13vw 0 5vw 0;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 1vw;
  color: #7B7167;
  opacity: 0.85;
}
.inputForm:not(:first-of-type){
  margin-top: 3vw;
}

#form {
  text-align: center;
  position: relative;
  margin: 2.5vw 0 10vw 0;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 80%;
  height: auto;
  padding: 0px 10px 0px 10px;
  margin: 0 auto 0 auto;
  background: transparent;
  border: solid 2px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

/* name & e-mail入力時 */
input:hover {
  color: #726659;
  font-size: 0.875em;
  /* background: #b3aca7; */
}

/* name */
.topBefore{
  color: #726659;
  border-radius: 10px;
  width: 100%;
}



/* e-mail & textarea */
 .inputForm{
  color: #726659;
  box-shadow: 2px 2px 2px gray;
  width: 80%;
  margin: 0 auto 0 auto;
  outline: none;
  border-radius: 42px;
 }

 /* メッセージゾーン */
textarea {
  width: 80%;
  max-width: 100%;
  height: 20%;
  max-height: auto;
  padding: 10px 10px 20vw 10px;
  margin: 3.5vw auto 0 auto;
  box-shadow: 2px 2px 2px gray;
  border-radius: 10px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 2px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

/* 送信ボタン */
.submit {
  width: 45%;
  padding: 0.5vw 0 0.5vw 0;
  margin: 4vw 0px 0px 0px;
  border-radius: 42px;
  background-color: #bbb5af;
  opacity: 0.5;
  color: #241506;
  font-weight: bold;
  box-shadow: 1px 1px 1px gray;
  letter-spacing: 0.8px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.735em;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
}

.formCheck{
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  text-align: center;
  margin: 0 auto 0 auto;
  border: solid 2px #b3aca7;
  box-shadow: 2px 2px 2px gray;
  border-radius: 10px;
  width: 90%;
  max-width: 90%;
  height: 40vh;
  overflow-y: scroll;
}
.formCheckName{
  width: 80%;
  max-width: 80%;
  max-height: auto;
  margin: 3.5vw auto 0 auto;
  text-align: left;
  font-weight: bold;
}
.formCheckEmail{
  width: 80%;
  max-width: 80%;
  max-height: auto;
  margin: 2.0vw auto 2.0vw auto;
  text-align: left;
  font-weight: bold;
}
.formCheckMessage{
  width: 80%;
  max-width: 100%;
  max-height: auto;
  margin: 0 auto 3.5vw auto;
  text-align: left;
  font-weight: bold;
  word-break: break-all;
}
.formCheckButton{
  text-align: center;
}
.formFinish{
  position: relative;
  margin: 27vw auto 5vw auto;
  font-size: 1.1rem;
  text-align: center;
  align-items: center;
  color: #7B7167;
  opacity: 0.85;
}

footer{
  grid-area: footer;
  background-color: rgba(97, 97, 100, 0.466);
  color: rgb(248, 203, 135);
  margin-bottom: 0px;
  width: 100%;
  bottom: 0px;
}
footer a{
  color: rgb(248, 203, 135);
}
.footer-logo{
  float: left;
  display: table-cell;
  vertical-align: middle;
  padding-top: 2vh;
  padding-left: 0.3em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: 0.55vw;
  font-size: 1rem;
  color: rgb(255, 208, 78);
  background-image:linear-gradient(45deg,rgb(255, 208, 78),rgb(247, 222, 156));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.footer-list {
  float: right;
  padding-right: 2vw;
  font-size: 0.6rem;
  padding: 0.7vw 0.3rem;
  margin-top: 0.5vw;
}
.footer-list li{
  /* padding-top: 4vw; */
  list-style: none;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* 294px以下の仕様 */
@media screen and (max-width : 294px) {

  body{
    width: 100%;
    margin: 0;
    min-height: 100vh;
    background-image: url(/link/img.jpg/beach-1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 21%;
    height: 100vh;
    display: grid;
    grid-template: 
      "header" 8vh
      "left  " 0px
      "center" 1fr
      "right " 1vh
      "footer" 8vh ;
    }
  .header-logo {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 1.8em 0.5em 0.5em 0.3em;
    margin: 0.55vw;
    font-size: 0.65rem;
  }
  /*👇ヘッダーリストの親要素にだけかかる*/
  .header-list >li{
    box-shadow: 1px 1px 1px gray;
    display: inline-table;
    /* margin: 2.5vw 0.85vw; */
    background-color: #fbefe3e7;
    text-align: -webkit-center;
    line-height: 1.5vh;/*行の高さを指定できる*/
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 3vw;
  }
  .header-list >li:not(:first-child){
    margin-left: 2.4vw;
  }
  .menu-item{
    display: inline;
    position:relative;
    width: 25%; /* 幅を一定にする */    
    border-radius: 42px;
  }
  /* 入力時 */
  textarea:hover {
    color: #503f32;
    font-size: xx-small;
    /* background: #b3aca7; */
  }
  .contents ul{
      padding-left: 8vw;
  }
  .search::before{
    content: "\f00e\A";
    white-space: pre;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d69293;
    margin-right: 2px;
    font-size: 0.9rem;
    padding: 0.1rem 0.6rem;
    margin: 2.5vw;
  }
  .picture::before{
    content: "\f03e\A";
    white-space: pre;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d4d467;
    margin-right: 2px;
    font-size: 0.9rem;
    padding: 0.1rem 0.6rem;
    margin: 2.5vw;
  }
  .map::before{
    content: "\f5a0\A";
    white-space: pre;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #8ec0d3;
    margin-right: 6px;
    font-size: 0.9rem;
    padding: 0.1rem 0.6rem;
    margin: 2.5vw;
  }

  .footer-logo{
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding-top: 2.5vh;
    padding-left: 0.3em;
    margin: 0.55vw;
    font-size: 0.65rem;
  }
  .footer-list {
    float: right;
    padding-right: 2vw;
    font-size: 0.6rem;
    padding: 0vw 0.3rem;
    margin-top: 0.5vw;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* 295px以上334px以下の仕様 */
@media screen and (min-width: 295px) and (max-width: 334px){
  

  .header-logo {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 1.6em 0.5em 0.5em 0.3em;
    margin: 0.55vw;
    font-size: 0.8rem;
  }
  .header-list >li:not(:first-child){
    margin-left: 1.8vw;
  }
  .menu-item{
    display: inline;
    position:relative;
    width: 22%; /* 幅を一定にする */    
    border-radius: 42px;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* 397px以上439px以下の仕様 */
@media screen and (min-width: 397px) and (max-width: 439px){

.text{
  display: block;
  justify-content: center;
  line-height: 1.5vh;/*行の高さを指定できる*/
  padding: 2.5vw 0 1.5vw 0;
}
.menu-item{
    display: inline;
    position:relative;
    width: 21%; /* 幅を一定にする */    
    border-radius: 42px;
}
.search::before{
    content: "\f00e\A";
    white-space: pre;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d69293;
    margin-right: 2px;
    font-size: 1.1rem;
    padding: 0.1rem 0.8rem;
    margin: 2.5vw;
}
.picture::before{
    content: "\f03e\A";
    white-space: pre;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d4d467;
    margin-right: 2px;
    font-size: 1.1rem;
    padding: 0.1rem 0.8rem;
    margin: 2.5vw;
}
  .map::before{
    content: "\f5a0\A";
    white-space: pre;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #8ec0d3;
    margin-right: 6px;
    font-size: 1.1rem;
    padding: 0.1rem 0.8rem;
    margin: 2.5vw;
  }

}

  
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  /* 440px以上544px以下の仕様 */
@media screen and (min-width: 440px) and (max-width: 544px){
  
  .header-logo {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 1.3em 0.9em 0.5em 0.5em;
    margin: 0.55vw;
    font-size: 0.9rem;
  }
  /*👇ヘッダーリストの親要素にだけかかる*/
  .header-list >li{
    display: inline-table;
    /* margin: 2.5vw 0.85vw; */
    background-color: #fbefe3e7;
    text-align: -webkit-center;
    margin-left: 1vw;
    margin-top: 4vw;
    box-shadow: 1px 1px 1px gray;
  }

  .menu-item{
    display: inline;
    position:relative;
    width: 22%; /* 幅を一定にする */    
    border-radius: 42px;
    transform: translateY(-1.5vw);
  }
  .text{
    display: block;
    transform: translateY(0.5vw);
    justify-content: center;
    line-height: 1vh;/*行の高さを指定できる*/
    padding: 2.5vw 1vw;
  }
  .search::before{
    content: "\f00e\A";
    white-space: pre;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d69293;
    margin-right: 2px;
    font-size: 1.1rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextSearch{
      color: #d69293;
  }
  .picture::before{
    content: "\f03e\A";
    white-space: pre;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d4d467;
    margin-right: 2px;
    font-size: 1.1rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextPicture{
    color: #d4d467;
  }
  .map::before{
    content: "\f5a0\A";
    white-space: pre;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #8ec0d3;
    margin-right: 6px;
    font-size: 1.1rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextMap{
    color: #8ec0d3;
  }
  .formTitle {
    position: relative;
    margin: 10vw 0 3vw 0;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 1vw;
    color: #7B7167;
    opacity: 0.85;
  }
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* 700px以上768px以下の仕様 */
@media screen and (min-width: 700px) and (max-width: 768px){

  body{
    width: 100%;
    margin: 0;
    min-height: 100vh;
    background-image: url(/link/img.jpg/beach-1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 18%;
    height: 100vh;
    display: grid;
    grid-template: 
      "header" 8vh
      "left  " 0px
      "center" 1fr
      "right " 1vh
      "footer" 8vh ;
  }

  .header-logo{
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 1.1em 0.5em 0em 0.9em;
    margin: 0.55vw;
    font-size: 1.5rem;
  }
  /*👇ヘッダーリストの親要素にだけかかる*/
  .header-list >li{
    display: inline-table;
    /* margin: 2.5vw 0.85vw; */
    background-color: #fbefe3e7;
    text-align: -webkit-center;
    margin-left: 3vw;
    margin-top: 3.7vw;
    box-shadow: 1px 1px 1px gray;
  }
  .header-list >li:not(:first-child){
    margin-left: 2.0vw;
  }
  .menu-item{
    display: inline;
    position:relative;
    width: 21%; /* 幅を一定にする */    
    border-radius: 42px;
    transform: translateY(-1vw);
  }
  .text{
    display: block;
    transform: translateY(0.3vw);
    justify-content: center;
    font-size: 14px;
    line-height: 2.5vh;/*行の高さを指定できる*/
    padding: 1.5vw 2vw;
  }
  .search::before{
    content: "\f00e";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d69293;
    margin-right: 2px;
    font-size: 1.2rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextSearch{
    color: #d69293;
  }
  .picture::before{
    content: "\f03e";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d4d467;
    margin-right: 2px;
    font-size: 1.2rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextPicture{
    color: #d4d467;
  }
  .map::before{
    content: "\f5a0";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #8ec0d3;
    margin-right: 6px;
    font-size: 1.2rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextMap{
    color: #8ec0d3;
  }
  .formTitle {
    position: relative;
    margin: 13vw 0 3vw 0;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 1vw;
    color: #7B7167;
    opacity: 0.85;
  }
  .footer-logo{
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding-top: 1.5vh;
    padding-left: 0.3em;
    margin: 0.55vw;
    font-size: 1.2rem;
  }
  .footer-list {
    float: right;
    padding-right: 2vw;
    font-size: 0.6rem;
    padding: 0vw 0.3rem;
  }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* 769px以上1024px以下の仕様 */
@media screen and (min-width: 769px) and (max-width: 1024px){
 
  body{
    margin: auto 0;
    background-image: url(/link/img.jpg/beach-1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 13%;
    min-height: 100vh;
    display: grid;
    grid-template: 
    "header" 120px
    "left  "  0px
    "center"  1fr
    "right "  0px
    "footer" 110px ;
  }
  .header-logo{
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 0.6em 0em 0.1em 0.4em;
    margin: 1.55vw;
    font-size: 2.2rem;
  }
  .header-logo:hover{
    opacity: 0.7;
  }
  /*👇ヘッダーリストの親要素にだけかかる*/
  .header-list > li{
    box-shadow: 1px 1px 1px gray;
    display: inline-table;
    /* margin: 2.5vw 0.85vw; */
    background-color: #fbefe3e7;
    text-align: -webkit-center;
    margin-left: 3vw;
    margin-top: 2.9vw;
  }
  /* 👇hoverが反映されるまでの時間を制御 */
  .header-list a{
    display: block;
    font-size: 1.52vw;
    text-align: center /*テキストの配置を指定できる*/;
    color: #474554;
    transition: 0.3s;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }
  .menu-item{
    display: inline;
    position:relative;
    width: 20.5%; /* 幅を一定にする */    
    border-radius: 42px;
  }
  .a:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .b:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .c:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .text{
    display: block;
    transform: translateY(0.2vw);
    justify-content: center;
    font-size: 1.8vw;
    line-height: 4.5vh;/* 行の高さを指定できる */
    padding: 1.5vw 0vw 1.5vw 0vw;
  }
  .search::before{
    content: "\f00e";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d69293;
    margin-right: 2px;
    font-size: 1.3rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextSearch{
    color: #d69293;
  }
  .picture::before{
    content: "\f03e";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d4d467;
    margin-right: 2px;
    font-size: 1.3rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextPicture{
    color: #d4d467;
  }
  .map::before{
    content: "\f5a0";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #8ec0d3;
    margin-right: 6px;
    font-size: 1.2rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextMap{
    color: #8ec0d3;
  }
  /* on hover placeholder */
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }

  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }
  main{
    margin: 0 12vw 0 12vw;
  }
  .formTitle {
    position: relative;
    margin: 2vw 0 0vw 0;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 1vw;
    color: #7B7167;
    opacity: 0.85;
  }
  .inputForm:not(:first-of-type){
    margin-top: 3vw;
  }

  #form {
    text-align: center;
    position: relative;
    margin: 1.5vw 0 0vw 0;
  }

  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 80%;
    height: auto;
    padding: 0px 10px 0px 10px;
    margin: 0 auto 0 auto;
    background: transparent;
    border: solid 2px #b3aca7;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  /* name & e-mail入力時 */
  input:hover {
    color: #503f32;
    font-size: 0.875em;
    /* background: #b3aca7; */
  }
  /* name & e-mail */
   .inputForm{
    box-shadow: 2px 2px 2px gray;
    width: 80%;
    margin: 0 auto 0 auto;
    outline: none;
    border-radius: 42px;
   }
   /* メッセージゾーン */
  textarea {
    width: 80%;
    max-width: 100%;
    height: 20%;
    max-height: auto;
    padding: 10px 10px 15vw 10px;
    margin: 3.5vw auto 0 auto;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 2px #b3aca7;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  /* 入力時 */
  textarea:hover {
    color: #503f32;
    font-size: 0.875em;
    /* background: #b3aca7; */
  }
  /* 送信ボタン */
  .submit {
    width: 45%;
    padding: 0.5vw 0 0.5vw 0;
    margin: 2vw 0px 0px 0px;
    border-radius: 42px;
    background-color: #bbb5af;
    opacity: 0.4;
    color: #241506;
    font-weight: bold;
    box-shadow: 1px 1px 1px gray;
    letter-spacing: 0.8px;

    font-family: 'Lato', sans-serif;
    font-size: 0.735em;

    outline:none;
    cursor: pointer;

    border: solid 1px #b3aca7;
  }
  .submit:hover {
    background-image:linear-gradient(45deg,rgb(255, 208, 78),rgb(247, 222, 156));
  }
  .footer-logo {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding-top: 2.9vw;
    padding-left: 0.7em;
    margin: 0.55vw;
    font-size: 1.5rem;
  }
  .footer-list {
    float: right;
    display: flex;
    font-size: 0.8rem;
    padding: 2vw 2vw 0vw 0vw;
  }
  .footer-list li:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .termsOfService:hover{
    opacity: 0.8;
    transform: translateY(2px); 
  }
  .contactForm:hover{
    opacity: 0.8;
    transform: translateY(2px); 
  }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* 1025px以上1440px以下の仕様 */
@media screen and (min-width: 1025px) and (max-width: 1440px){
  body{
    margin: auto 0;
    background-image: url(/link/img.jpg/beach-1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 53%;
    min-height: 100vh;
    display: grid;
    grid-template: 
    "header" 120px
    "left  "  0px
    "center"  1fr
    "right "  0px
    "footer" 110px ;
  }
  .header-logo{
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 0.9em 0em 0.1em 0.4em;
    margin: 1.55vw;
    font-size: 1.8rem;
  }
  .header-logo:hover{
    opacity: 0.7;
  }
  /*👇ヘッダーリストの親要素にだけかかる*/
  .header-list > li{
    box-shadow: 1px 1px 1px gray;
    display: inline-table;
    /* margin: 2.5vw 0.85vw; */
    background-color: #fbefe3e7;
    text-align: -webkit-center;
    margin-left: 3vw;
    margin-top: 2.5vw;
  }
  /* 👇hoverが反映されるまでの時間を制御 */
  .header-list a{
    display: block;
    font-size: 1.52vw;
    text-align: center /*テキストの配置を指定できる*/;
    color: #474554;
    transition: 0.3s;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }
  .menu-item{
    display: inline;
    position:relative;
    width: 15.5%; /* 幅を一定にする */    
    border-radius: 42px;
  }
  .a:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .b:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .c:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .text{
    display: block;
    transform: translateY(0.2vw);
    justify-content: center;
    line-height: 3.5vh;/* 行の高さを指定できる */
    padding: 1.3vw 0vw 1.3vw 0vw;
    font-size: 1.35vw;
  }
  .search::before{
    content: "\f00e";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d69293;
    margin-right: 2px;
    font-size: 1.4rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextSearch{
    color: #d69293;
  }
  .picture::before{
    content: "\f03e";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d4d467;
    margin-right: 2px;
    font-size: 1.4rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextPicture{
    color: #d4d467;
  }
  .map::before{
    content: "\f5a0";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #8ec0d3;
    margin-right: 6px;
    font-size: 1.3rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextMap{
    color: #8ec0d3;
  }

  /* on hover placeholder */
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }

  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }
  main{
    margin: 0 20vw 0 20vw;
  }
  .formTitle {
    position: relative;
    margin: 2vw 0 0vw 0;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 1vw;
    color: #7B7167;
    opacity: 0.85;
  }
  .inputForm:not(:first-of-type){
    margin-top: 1vw;
  }

  #form {
    text-align: center;
    position: relative;
    margin: 1vw 0 0vw 0;
  }

  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 80%;
    height: auto;
    padding: 0px 10px 0px 10px;
    margin: 0 auto 0 auto;
    background: transparent;
    border: solid 2px #b3aca7;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  /* name & e-mail入力時 */
  input:hover {
    color: #503f32;
    font-size: 0.875em;
    /* background: #b3aca7; */
  }
  /* name & e-mail */
   .inputForm{
    box-shadow: 2px 2px 2px gray;
    width: 80%;
    margin: 0 auto 0 auto;
    outline: none;
    border-radius: 42px;
   }
   /* メッセージゾーン */
  textarea {
    width: 80%;
    max-width: 100%;
    height: 20%;
    max-height: auto;
    padding: 10px 10px 15vw 10px;
    margin: 1.5vw auto 0 auto;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 2px #b3aca7;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  /* 入力時 */
  textarea:hover {
    color: #503f32;
    font-size: 0.875em;
    /* background: #b3aca7; */
  }
  /* 送信ボタン */
  .submit {
    width: 30%;
    padding: 0.2vw 0 0.2vw 0;
    margin: 0.5vw 0px 0px 0px;
    border-radius: 42px;
    background-color: #bbb5af;
    opacity: 0.4;
    color: #241506;
    font-weight: bold;
    box-shadow: 1px 1px 1px gray;
    letter-spacing: 0.8px;

    font-family: 'Lato', sans-serif;
    font-size: 0.735em;

    outline:none;
    cursor: pointer;

    border: solid 1px #b3aca7;
  }
  .submit:hover {
    background-image:linear-gradient(45deg,rgb(255, 208, 78),rgb(247, 222, 156));
  }
  .formFinish {
    position: relative;
    margin: 16vw auto 5vw auto;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
    color: #7B7167;
    opacity: 0.85;
  }
  .footer-logo {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding-top: 2.5vw;
    padding-left: 0.7em;
    margin: 0.55vw;
    font-size: 1.5rem;
  }
  .footer-list {
    float: right;
    display: flex;
    font-size: 1rem;
    padding: 1vw 2vw 0vw 0vw;
  }
  .footer-list li:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .termsOfService:hover{
    opacity: 0.8;
    transform: translateY(2px); 
  }
  .contactForm:hover{
    opacity: 0.8;
    transform: translateY(2px); 
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */



/* 1441px以上1699px以下の仕様 */
@media screen and (min-width: 1441px) and (max-width: 1699px){
  body{
    margin: auto 0;
    background-image: url(/link/img.jpg/beach-1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 42%;
    min-height: 100vh;
    display: grid;
    grid-template: 
    "header" 120px
    "left  "  0px
    "center"  1fr
    "right "  0px
    "footer" 120px ;
  }
  .header-logo{
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 0.6em 0em 0.1em 0.8em;
    margin: 1.55vw;
    font-size: 2.1rem;
  }
  .header-logo:hover{
    opacity: 0.7;
  }
  /*👇ヘッダーリストの親要素にだけかかる*/
  .header-list > li{
    display: inline-table;
    /* margin: 2.5vw 0.85vw; */
    background-color: #fbefe3e7;
    text-align: -webkit-center;
    margin-left: 3vw;
    margin-top: 2.1vw;
    box-shadow: 1px 1px 1px gray;
  }
  /* 👇hoverが反映されるまでの時間を制御 */
  .header-list a{
    display: block;
    font-size: 1.22vw;
    text-align: center /*テキストの配置を指定できる*/;
    color: #474554;
    transition: 0.3s;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }
  .menu-item{
    display: inline;
    position:relative;
    width: 16%; /* 幅を一定にする */    
    border-radius: 42px;
  }
  .a:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .b:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .c:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .text{
    display: block;
    transform: translateY(0.2vw);
    justify-content: center;
    font-size: 1.2rem;
    line-height: 3vh;/* 行の高さを指定できる */
    padding: 1.5vw 0vw 1.5vw 0vw;
  }
  .search::before{
    content: "\f00e";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d69293;
    margin-right: 2px;
    font-size: 1.3rem;
    padding: 0;
    padding-right: 0.3vw;
    margin: 0;
  }
  .iconTextSearch{
    color: #d69293;
  }
  .picture::before{
    content: "\f03e";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d4d467;
    margin-right: 2px;
    font-size: 1.3rem;
    padding: 0;
    padding-right: 0.4vw;
    margin: 0;
  }
  .iconTextPicture{
    color: #d4d467;
  }
  .map::before{
    content: "\f5a0";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #8ec0d3;
    margin-right: 6px;
    font-size: 1.2rem;
    padding: 0;
    padding-right: 0.4vw;
    margin: 0;
  }
  .iconTextMap{
    color: #8ec0d3;
  }
  /* on hover placeholder */
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    font-size: 0.875em;
  }

  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    font-size: 0.875em;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    font-size: 0.875em;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    font-size: 0.875em;
  }

  
  main{
    margin: 0 25vw 0 25vw;
  }
  .formTitle {
    position: relative;
    margin: 2.5vw 0 0.5vw 0;
    font-size: 1.6em;
    text-align: center;
    letter-spacing: 1vw;
    color: #7B7167;
    opacity: 0.85;
  }
  .inputForm:not(:first-of-type){
    margin-top: 1.5vw;
  }
  .formCheck{
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    text-align: center;
    margin: 0 auto 0 auto;
    border: solid 2px #b3aca7;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    width: 90%;
    max-width: 90%;
    height: 45vh;
    overflow-y: scroll;
  }

  #form {
    text-align: center;
    position: relative;
    margin: 0vw 0 0vw 0;
  }

  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 80%;
    height: auto;
    padding: 0px 10px 0px 10px;
    margin: 0 auto 0 auto;
    background: transparent;
    border: solid 2px #b3aca7;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  /* name & e-mail入力時 */
  input:hover {
    color: #503f32;
    font-size: 0.875em;
    /* background: #b3aca7; */
  }
  /* name & e-mail */
   .inputForm{
    box-shadow: 2px 2px 2px gray;
    width: 80%;
    margin: 0 auto 0 auto;
    outline: none;
    border-radius: 42px;
   }
   /* メッセージゾーン */
  textarea {
    width: 80%;
    max-width: 100%;
    height: 20%;
    max-height: auto;
    padding: 10px 10px 15vw 10px;
    margin: 1.5vw auto 0 auto;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 2px #b3aca7;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  /* 入力時 */
  textarea:hover {
    color: #503f32;
    font-size: 0.875em;
    /* background: #b3aca7; */
  }
  /* 送信ボタン */
  .submit {
    width: 35%;
    padding: 0.7vw 0 0.7vw 0;
    margin: 0.5vw 0px 0px 0px;
    border-radius: 42px;
    background-color: #bbb5af;
    opacity: 0.4;
    color: #241506;
    font-weight: bold;
    box-shadow: 1px 1px 1px gray;
    letter-spacing: 0.8px;

    font-family: 'Lato', sans-serif;
    font-size: 0.935em;

    outline:none;
    cursor: pointer;

    border: solid 1px #b3aca7;
  }
  .submit:hover {
    background-image:linear-gradient(45deg,rgb(255, 208, 78),rgb(247, 222, 156));
  }
  .formFinish {
    position: relative;
    margin: 16vw auto 5vw auto;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
    color: #7B7167;
    opacity: 0.85;
  }
  .footer-logo {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding-top: 2.5vw;
    padding-left: 0.7em;
    margin: 0.55vw;
    font-size: 1.5rem;
  }
  .footer-list {
    float: right;
    display: flex;
    font-size: 1rem;
    padding: 1vw 2vw 0vw 0vw;
  }
  .footer-list li:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .termsOfService:hover{
    opacity: 0.8;
    transform: translateY(2px); 
  }
  .contactForm:hover{
    opacity: 0.8;
    transform: translateY(2px); 
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */




/* 1700px以上の仕様 */
@media screen and (min-width : 1700px) {
   body{
    margin: auto 0;
    background-image: url(/link/img.jpg/beach-1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 35%;
    min-height: 100vh;
    display: grid;
    grid-template: 
    "header" 180px
    "left  "  0px
    "center"  1fr
    "right "  0px
    "footer" 180px ;
  }
  .header-logo{
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 0.6em 0em 0.1em 0.4em;
    margin: 0.55vw;
    font-size: 3.8rem;
  }
  .header-logo:hover{
    opacity: 0.7;
  }
  /*👇ヘッダーリストの親要素にだけかかる*/
  .header-list > li{
    display: inline-table;
    /* margin: 2.5vw 0.85vw; */
    background-color: #fbefe3e7;
    text-align: -webkit-center;
    margin-left: 3vw;
    margin-top: 1.6vw;
    box-shadow: 1px 1px 1px gray;
  }
  /* 👇hoverが反映されるまでの時間を制御 */
  .header-list a{
    display: block;
    font-size: 1.22vw;
    text-align: center /*テキストの配置を指定できる*/;
    color: #474554;
    transition: 0.3s;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}
  .menu-item{
    display: inline;
    position:relative;
    width: 16.5%; /* 幅を一定にする */    
    border-radius: 84px;
  }
  .a:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .b:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .c:hover{
    transform: translateY(2px);
    background-color: #EEE8E8;
  }
  .text{
    display: block;
    transform: translateY(0.2vw);
    justify-content: center;
    line-height: 3vh;/* 行の高さを指定できる */
    padding: 1.5vw 0vw 1.5vw 0vw;
  }
  .search::before{
    content: "\f00e";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d69293;
    margin-right: 2px;
    font-size: 2.3rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextSearch{
    color: #d69293;
  }
  .picture::before{
    content: "\f03e";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #d4d467;
    margin-right: 2px;
    font-size: 2.3rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextPicture{
    color: #d4d467;
  }
  .map::before{
    content: "\f5a0";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: #8ec0d3;
    margin-right: 6px;
    font-size: 2.2rem;
    padding: 0;
    padding-right: 0.5vw;
    margin: 0;
  }
  .iconTextMap{
    color: #8ec0d3;
  }
  /* on hover placeholder */
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }

  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }
  main{
    margin: 0 25vw 0 25vw;
  }
  .formTitle {
    position: relative;
    margin: 3vw 0 0vw 0;
    font-size: 2.8em;
    text-align: center;
    letter-spacing: 1vw;
    color: #7B7167;
    opacity: 0.85;
  }
  .inputForm:not(:first-of-type){
    margin-top: 1vw;
  }

  #form {
    text-align: center;
    position: relative;
    margin: 1vw 0 0vw 0;
  }

  input {
    font-family: 'Lato', sans-serif;
    font-size: 1.475em;
    width: 80%;
    height: auto;
    padding: 10px 10px 10px 10px;
    margin: 0 auto 0 auto;
    background: transparent;
    border: solid 2px #b3aca7;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  /* name & e-mail入力時 */
  input:hover {
    color: #503f32;
    font-size: 0.875em;
    /* background: #b3aca7; */
  }
  /* name & e-mail */
   .inputForm{
    box-shadow: 2px 2px 2px gray;
    width: 80%;
    margin: 0 auto 0 auto;
    outline: none;
    border-radius: 42px;
   }
   /* メッセージゾーン */
  textarea {
    width: 80%;
    max-width: 100%;
    height: 20%;
    max-height: auto;
    padding: 10px 10px 12vw 10px;
    margin: 1.5vw auto 0 auto;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 1.475em;
    border: solid 2px #b3aca7;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  /* 入力時 */
  textarea:hover {
    color: #503f32;
    font-size: 0.875em;
    /* background: #b3aca7; */
  }
  /* 送信ボタン */
  .submit {
    width: 35%;
    padding: 0.7vw 0 0.7vw 0;
    margin: 0.5vw 0px 0px 0px;
    border-radius: 42px;
    background-color: #bbb5af;
    opacity: 0.4;
    color: #241506;
    font-weight: bold;
    box-shadow: 1px 1px 1px gray;
    letter-spacing: 0.8px;

    font-family: 'Lato', sans-serif;
    font-size: 1.735em;

    outline:none;
    cursor: pointer;

    border: solid 1px #b3aca7;
  }
  .submit:hover {
    background-image:linear-gradient(45deg,rgb(255, 208, 78),rgb(247, 222, 156));
  }
  .formFinish {
    position: relative;
    margin: 16vw auto 5vw auto;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
    color: #7B7167;
    opacity: 0.85;
  }
  .footer-logo {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding-top: 1.7vw;
    padding-left: 0.7em;
    margin: 0.55vw;
    font-size: 3.5rem;
  }
  .footer-list {
    float: right;
    display: flex;
    font-size: 1.3rem;
    padding: 1.5vw 3vw 0vw 0vw;
  }
  .footer-list li:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .termsOfService:hover{
    opacity: 0.8;
    transform: translateY(2px); 
  }
  .footer-list a.contactForm:hover{
    opacity: 0.8;
    transform: translateY(2px); 
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */