@charset "UTF-8";
*,*::before,*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}

html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1;
  position: relative;
  min-height: 100%;
  background-color: #eee;
  color: #333;
  font-size: 14px;
  line-height: 1.3;
  word-wrap: break-word;
  font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: middle;
  -webkit-touch-callout: none;
}
input, textarea, button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
  -webkit-appearance: none;
}
input:-webkit-autofill, textarea:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

.wrapper {
  padding: 20px;
}
.header {
  width: 100%;
  background-color: #43cee0;
}
.search {
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 5px #ccc;
}
.search__text {
  width: 100%;
}
.search__text__input {
  width: 100%;
  margin-bottom: 1px;
  padding: 0 10px;
  line-height: 3em;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  outline: none;
}
.search__btn {
  display: block;
  margin: 15px auto 15px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  background-color: #43cee0;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.message{
  margin: 0 auto;
  text-align: center;
}
.lists {
  overflow: hidden;
  margin-left: 20px;
}
.lists__item {
  display: inline-block;
  width: 25%;
  padding: 0 20px 20px 0;
  vertical-align: top;
  text-align: center;
}
.lists__item__inner {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
.lists__item__link {
  display: block;
  text-decoration: none;
}
.lists__item__img {
  margin-bottom: 20px;
  width: 100%;
  max-width: 150px;
  -webkit-box-shadow: 0 1px 5px #ccc;
      box-shadow: 0 1px 5px #ccc;
}
.lists__item__detail {
  margin-bottom: 10px;
  padding-left: 5em;
  text-indent: -5em;
  line-height: 1.5em;
  text-align: left;
  font-size: 12px;
}
/* .flex{
  display: flex;
} */

@media screen and (min-width: 769px) {
  .search__btn:hover {
    background-color: #1eabbd;
  }
}

@media screen and (max-width: 767px) {
  .lists__item {
    width: 33.33%;
  }
}

@media screen and (max-width: 479px) {
  .lists__item {
    width: 50%;
  }
}

