/* input 要素 */
#name, #email, #subject, #email_check, #tel {
  max-width:400px;
}
#contents {
  max-width: 640px;
}
/* エラー表示 */
.error-js, .error-php {
  color: red;
}
/* フォーム要素（Bootstrap4 のスタイルを上書き） */
.form-control {
  border-radius: 0px;
  background-color: #fdfdfd;
  font-size: 14px;
}
.form-control:focus {
  border-color: #aadbe8;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.4);
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.4);
  background-color:#fff;
}
/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
  font-size: 13px; 
}
/* Firefox 18- */
:-moz-placeholder {
  font-size: 13px; }
/* Firefox 19+ */
::-moz-placeholder {
  font-size: 13px; }
/* IE 10+ */
:-ms-input-placeholder {
  font-size: 13px; }
::placeholder{ 
  font-size: 13px;
}
textarea.form-control {
  height: 200px;
}
/* 確認ページの表 */
.confirm_table {
  margin: 30px 0; 
}
.confirm_table table caption{
  caption-side: top;
}
.confirm {
  float: left;
  margin-right: 20px;
}
th{
  width: 20%;
}

table td{
  word-wrap: break-word;
}


/* ========================= */

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ff9100;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: #fd7f09;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
header {
  margin-top: 0;
  width: 100%;
}
li {
  font-size: 10px;
  float: right;
}
/* #li {
  padding-top: 20px;
} */
#title {
  padding-left: 20px;
}
@media(max-width:700px) {
  a.nav-link {
      padding: 0 8px 0 0;
  }
}
