
/*ヘッダメニュー*/
header {
    margin-top: 0;
    width: 100%;
}
li {
    font-size: 10px;
    height: 60px;
    float: right;
}
a#logo {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 15px;
}
#li {
    padding-top: 20px;
}
#headerlogo {
    padding-left: 20px;
}
@media(max-width:700px) {
    a.nav-link {
        padding: 0 8px 0 0;
    }
    a#logo {
        font-size: smaller;
    }
}
/* ここまでヘッダメニュー */

/*ここから中央コンテンツ*/
.wrapper .container{
    max-width: 95%;
    max-height: 100%;
    margin-top: 0;
    margin:10px auto;
    background-color: rgba(236, 235, 235, 0.945);
    padding:0px 10px;
    text-align:center;
    overflow-y: scroll;
}
h2#rankingtitle {
    text-align:center;
    padding-top: 20px;
}
h1 {
    width: 100%;
    text-align: center;
}
.container-fluid {
    padding:20px 20px;
}
a {
    text-decoration: none;
}
a#mypage {
    text-align:right;
}
hr#dot {
    height: 2px;
    background: #bbb;
    background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
    background-image: -moz-linear-gradient(left, #eee, #777, #eee);
    background-image: -ms-linear-gradient(left, #eee, #777, #eee);
    background-image: -o-linear-gradient(left, #eee, #777, #eee);
}
.content .level-list{
    height: 100%;
}
form {
    margin: 20px auto;
}

/*レベルランキング*/
/*アイコン表示*/
.level-icon {
    margin: 0 15px;
    text-align: center;
}
.level-icon img{
    align-items: center;
	width: 50px;
    height: 50px;
    border-radius: 50%;
}
/*順位表示　1位*/
#first {
    font-size: 33px;
    font-weight: bold;
    color: #daa520;
    margin: 0;
    padding-top: 30px;
}
/*順位表示　2位*/
#second {
    font-size: 27px;
    font-weight: bold;
    color: #a1a0a0;
    margin: 0;
    padding-top: 30px;
}
/*順位表示　3位*/
#third {
    font-size: 24px;
    font-weight: bold;
    color: #CD7F32;
    margin: 0;
    padding-top: 30px;
}
/*順位表示　4位以降*/
p#rank {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/*トップページのアイコン*/
.userpage {
    text-align: center;
}
.level-list {
    display: inline-block;
    text-align: center;
    margin:20px auto;
    width:100%;
    height: 100%;
}
.level-list .list-item {
    align-items: center;
    line-height:2.3rem;
    font-size:17px;
    color:#666666;
}
.list-item img {
    text-align: center;
    display: block;
    width:200px;
    height: 200px;
    max-width:1168px;
    max-height: 347px;
    margin:20px auto;
    border-radius:100%;
    z-index: 0;
}
label#editdisp {
    display: inline-block;
    font-size: 18px;
    text-align: right;
    font-weight:bold;
    width: 115px;
    height: 30px;
    padding-top: 5px;
}
label {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    font-weight:bold;
    width: 115px;
    height: 30px;
    padding-top: 5px;
}
input,
#file-upload-button {
    height: 40px;
}
.text {
    padding-bottom: 30px;
    padding-right: 10px;
}
.edit {
    color:rgb(185, 68, 0);
    font-weight: bold;
}
footer {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
}

/*編集画面*/
#name, #tel, #email, #password, #icon, #comment {
    width: 30%;
    font-size: 16px;
    background-color: rgba(236, 235, 235, 0.945);
    border: none; 
}
button,
.btn-confirm,
a.btn-confirm {
  color: #fff;
  background-color: #e78b13;
  border: 0;
  max-width: 200px;
  padding: 10px;
  width: 80px;
  height: 40px;
  margin: 10px auto;
}
.btn-confirm:hover,
a.btn-confirm:hover {
  color: #fff;
  background: #ca9c39;
}
a#edit {
    padding-top: 20px;
}
input#editdetail {
    margin-top: 20px;
}

/* ページネーション */
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.pagination li {display: inline;}
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

/* モーダルウィンドウのcss設定 */
/* 一番上に表示させるdiv */
#modal-content{
	z-index:2;
	display:block;
	position:fixed;
	top:30%;
	left: 17%;
	width:65%;
	height:auto;
	margin:auto;
    padding-left: 40px;
	padding-top: 15px;
	border:2px solid #aaa;
	background:#fff;
}
#modal-close {
    cursor: pointer;
}
/* 2番目に表示させるdiv半透明の膜 */
#modal-overlay{
	z-index:1;
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(51,51,51,0.6);
	margin-top:0px;
}
/*戻るボタン（userpage）*/
a#back {
    padding-bottom:20px;
}
