@charset "utf-8";
  *, *::before, *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

h5{
  font-size: 1.1rem;
  padding: 0.3em;
  color: #494949;
  background: #fffaf4;
  border-left: solid 8px #fd9535;
}

/* page */
.WCPageDiv{
  float: left;
  width: 40%;
  color: blue;
}
.WCPageDiv.left{
  text-align: left;
  padding: 20px 10px;
}
.WCPageDiv.right{
  text-align: right;
  padding: 20px 10px;
}
.WCPageDiv.dis{
  color: #cccccc;
}

/* article */
.artListTitle{
  font-size: 2rem;
  word-break: break-all;
}
.artContents{
  word-break: break-all;
}
.artfrm{
  /* display: flex; */
  flex-direction: column;
  position: relative;
  width: 90%;
  padding: 16px 24px;
  margin: 16px;
  border: 1px solid #7b7b7b;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width:768px) { 
  .artfrm:hover{
    background-color:rgba(243, 159, 63, 0.295);
  }
}
.arttitle{
  font-size: 1.8rem;
  margin: 2px;
  font-weight: 600;
  /* 文字をはみ出さないように指定  */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.artDetailTitle{
  border-bottom: solid 0.5px #646d7296;
  font-weight: bold;
  font-size: 2.2rem;
  color: #494949;
}
.catename{
  font-weight: bold;
  font-size: 1.1rem;
  color: #f5e3e3;
}
.artFootLeft{
  float: left;
  text-align: left;
  color: gray;
  font-size: 0.8rem;
}
.artfoot{
  text-align: right;
  color: gray;
}

