#input-field-wrapper, #preview-field-wrapper {
    height: 50vh;
}
#input-field-wrapper #input-field,
#preview-field-wrapper #preview-field {
    height: calc(100% - 1rem);
    overflow-wrap: break-word;
    overflow: scroll;
}

body{
  min-height: 100%;
  color: #333;
  line-height: 1.3;
  word-wrap: break-word;
  font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.manual{
  position: relative;
  z-index: 1;
}

.title{
  font-weight: bold;
  display: inline;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.subTitle{
  font-weight: bold;
  display: inline;
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

.color{
  display: inline;
  background-color: #f5f5f5;
  color: #ff3860;
  font-size: .875em;
  font-weight: 400;
  padding: 0.25em 0.5em 0.25em;
}

.bgc{
  display: inline;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  background-color: #f5f5f5;
  color: #4a4a4a;
  font-size: .875em;
}

.Bullets{
  display: inline;
  font-size: 1.0rem;
}

.bold{
  display: inline;
  color: #363636;
  font-weight: 700;
}

.cancel{
  display: inline;
  font-size: 1.0rem;
}