body {
  margin: 0;
  padding: 0;
}

input {
  display: block;
}

.content {
  width: 500px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.todo {
  float: left;
}

li {
  display: block;
}

.todo_button {
  background-color: white;
  margin: 0 auto;
}

.ul {
  background-color: #eeeeee;
  width: 1000px;
  height: 200px;
  text-align: center;
  margin: 50px auto;
}

.title {
  margin: auto;
  width: 500px;
}

.form {
  display: block;
  margin: 0 auto;
}