@charset "UTF-8";
*,*::before,*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
  position: relative;
  min-height: 100%;
  background-color: #eee;
  color: #333;
  font-size: 14px;
  line-height: 1.3;
  word-wrap: break-word;
  font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.ellMessage{
  color: red;
  font-weight: bold;
}