
h5{
 font-size: 1.1rem;
 padding: 0.3em;
 color: #494949;
 background: #fffaf4;
 border-left: solid 8px #fd9535;
}

/* page */
.WCPageDiv{
 float: left;
 width: 40%;
 color: blue;
}
.WCPageDiv.left{
 text-align: left;
 padding: 20px 10px;
}
.WCPageDiv.right{
 text-align: right;
 padding: 20px 10px;
}
.WCPageDiv.dis{
 color: #cccccc;
}

/* article */
.artfrm{
 position: relative;
 width: 90%;
 display: flex;
 padding: 16px 24px;
 margin: 16px;
 flex-direction: column;
 border: 1px solid #7b7b7b;
 border-radius: 5px;
 cursor: pointer;
}
.arttitle{
 font-size: 1.5rem;
 margin: 2px;
}
.artfoot{
 text-align: right;
 color: gray;
}
