body {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 2px solid #eee;
  width: 30vw;
  height: 30vw;
  margin-top: 5vh;
}
@media screen and (max-width:450px) { 
  table {
    width: 90vw !important;
    height: 90vw !important;
  }
}

thead,
tfoot {
  background: #eee;
}

th {
  padding: 16px 8px 0 8px;
  text-align: center !important;
}
td {
  padding: 8px;
  text-align: center;
  width: 5vw;
  height: 5vw;
  border: 2px solid #eee;
}

tbody td:first-child {
  color: red;
}

tbody td:last-child {
  color: blue;
}

tfoot {
  font-weight: bold;
}

td.disabled {
  opacity: 0.3;
}

td.today {
  font-weight: bold;
  background-color: rgba(240, 247, 178, 0.61);
}

#prev,
#next,
#today {
  cursor: pointer;
  user-select: none;
}

#today{
  height: 2vw;
}

#title{
  text-align: center;
}